#left {
    position: absolute;
    background-color: white;
    margin-top: -10px;
    height: 100%;
    width: 50%;
    left: 0px;

    .border {

        border: 1px solid black;


    }

}


#right {
    position: absolute;
    background-color: white;
    margin-top: -10px;
    height: 100%;
    width: 50%;
    right: 0px;

}